services:
  su-home-okaeri:
    image: sucicada/su-home-okaeri:latest
    container_name: su-home-okaeri
#    build: /Users/peng/PROGRAM/GitHub/su-home-okaeri/
    ports:
      - "41406:41406"
      # environment:
      # - GIN_MODE=release
    # env_file:
      # - .env
    command: ./su-home-okaeri
    volumes:
      - ../../ssh/id_ed25519:/home/sucicada/.ssh/id_ed25519:ro
      - ../../ssh/config:/home/sucicada/.ssh/config:ro
      - ./config.yaml:/home/sucicada/config.yaml
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped

  su-home-okaeri-monitor:
    image: sucicada/su-home-okaeri:latest
    container_name: su-home-okaeri-monitor
    ports:
      - "41407:41407"
    command: ./su-home-okaeri-monitor
    volumes:
      - ../../ssh/id_ed25519:/home/sucicada/.ssh/id_ed25519:ro
      - ../../ssh/config:/home/sucicada/.ssh/config:ro
      - ./config.yaml:/home/sucicada/config.yaml
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
